beautifulsoup4
google_api_python_client
google_auth_oauthlib
pandas
protobuf
pydantic
python-dotenv
python_dateutil
streamlit
google-generativeai
google-auth
python-multipart
msal
fastapi
uvicorn
pdfplumber
pdf2image
pytesseract
sentence-transformers
faiss-cpu
rank-bm25
langchain
numpy
pillow
tqdm
langchain-text-splitters
